.single-product{
    width: 90vw;
    margin-inline: auto;
    margin-block: 4rem;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    'one'
    'two';

    margin-top: 180px;
    
    
}

.single-product * img {
    width: 100%;
    border-radius: 20px;
}

.single-product:nth-child(1){
    grid-area: one;
}
.single-product:nth-child(2){
    grid-area: two;
}

@media (max-width: 2200px){
    .single-product{
        --grid-gap: 5rem;
        grid-template-areas: 
        'one two';
    }
}

.product-info{
    --grid-gap: 1px;
}
.grid {
    display: grid;
    gap: var(--grid-gap, 1rem);
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 48px;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.product-btn{
    border-radius: 50px;
    size: large;
    border: 0;
    cursor: pointer;
    padding: 18px 18px;
    background-color: #ff0038;
    color: #fefefe;
    font-size: 18px;
}
.product-btn:hover{
    background-color: #3d3d3d;
}
.uil-star{
    color:#ff0038 ;
    cursor: pointer;
}
.flex{
    display: flex;
    align-items: center;
    gap: 20px;
}

